.generics {
    width: 100%;
    height: 150px;
    background-color: gray;
    display: flex-center;
    text-align:center;
    align-items: center;
  
  } 


.img{
    float:left;
    margin:20px 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
 
.data{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}