.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-right;
    align-items: center;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
  }

  .generics {
    width: 100%;
    height: 150px;
    background-color: gray;
    display: flex-center;
    text-align:center;
    align-items: center;
  
  }

  .generics-text{
   text-align: center;
   color: white;
   text-size-adjust:  200px;
  }

  .cart-icon{
 
    display: flex;
    justify-content: flex-right;
    align-items: center;

  }